.conteiner_main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-left: 13vh;
    background-color: black;
    color: white;
    background: url('/public/images/bacground.png') no-repeat center;
}
.main_text{
    width: 70vh;
    height: 246px;
    margin-left: 30vh;

}
.btn_activity{
    display: grid;
    grid-template-areas:'a a' 'b b ';
    margin-bottom: 30vh;
    width: 70vh;
    height: 7px;

    button{
        border-radius: 5vh;
        background-color: rgb(112, 169, 173);
        color: white;
        width: 30vh;
        height: 25vh;
p{
    padding-bottom: 5vh;
}
}
}
